html,
body {
    height: 100%;
}

/*-Header- */

.wrap {
    position: relative;
    min-width: 1120px;
    min-height: 100%;
}

#header {
    width: 100%;
    position: fixed;
    transform: translateY(0);
    background-color: rgba(255, 255, 255, 0.97);
    z-index: 1000;
    transition: 0.3s;
}
    #header.up {
        transform: translateY(-100%);
    }

#header:hover {
    background-color: rgba(255, 255, 255);
}

.header-wrap {
    max-width: 1600px;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-wrap .header-logo {
    width: 87px;
    height: 17px;
    margin: 32px 0 31px 30px;
}

.header-wrap .header-logo a {
    display: flex;
    height: 100%;
}

.header-wrap .gnb-menu {
    display: flex;
}

.gnb-dropmenu-wrap {
    display: none;
}

.header-wrap .gnb-menu li a {
    display: inline-block;
    padding: 29px 0 30px 0;
    margin: 0 32px;
    font-weight: normal;
    position: relative;
}

.header-wrap .gnb-menu li a:after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    left: 0px;
    bottom: 20px;
    background-color: #1ec545;
    transition: width .2s;
}

.header-wrap .gnb-menu li a:hover:after {
    width: 100%;
}

.header-wrap .header-util {
    width: 144px;
    margin: 29px 25px 28px 0;
    display: flex;
    align-items: center;
}

.header-wrap .header-util .header-lang a {
    display: inline-block;
    font-size: 12px;
    font-family: "NanumSquare";
}

.header-wrap .header-util .header-lang span {
    font-size: 12px;
    margin: 0 7px;
}

.header-wrap .header-util .sitemap-box {
    width: 24px;
    height: 23px;
}

.header-wrap .header-util .sitemap-box a {
    height: 100%;
}

.header-wrap .header-util .header-lang a:nth-child(3) {
    opacity: 0.6;
}

.header-wrap .header-util .sitemap-box a svg:hover {
    fill: #1ec545;
}

/* -Main-*/

/* Slide */
.main-wrap {
    width: 100%;
    padding: 80px 0 160px;
}

.main-slide-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

#slide-wrap {
    width: 500%;
    display: flex;
}

#slide-wrap.animated {
    transition: 0.6s ease-out;
}

#slide-wrap .slide {
    width: 20%;
    flex-shrink: 0;
}

#slide-wrap .slide img,
#slide-wrap .slide video {
    width: 100%;
    height: 100%;
} 

#slide-wrap .slide img {
    vertical-align: top;
}

#slide-wrap .slide video {
    position: relative;
    object-fit: cover;
    z-index: -1;
}

.slide-info-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
}

.slide-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: rgb(255, 255, 255);
}

.slide-info .slide-logo {
    position: absolute;
    right: 160px;
    background-image: url(../img/icons.png);
    background-size: 474px 1500px;
}

.slide-info .naver {
    bottom: 75px;
    width: 136px;
    height: 28px;
    background-position: -200px -1137px;
}

.slide-info .gak {
    bottom: 76px;
    width: 228px;
    height: 38px;
    background-position: -208px -1329px;
}

.slide-info .clova {
    bottom: 78px;
    width: 239px;
    height: 40px;
    background-position: -209px -1372px;
}

.slide-info .clova-dubbing {
    bottom: 78px;
    width: 251px;
    height: 37px;
    background-position: 0 -1410px;
}

.slide-info .labs {
    bottom: 70px;
    width: 194px;
    height: 23px;
    background-position: 0 -1327px;
}

.slide-info .spacegreen {
    bottom: 70px;
    width: 134px;
    height: 53px;
    background-position: 0 -1183px;
}

.slide-info .slide-text-box {
    position: absolute;
    left: 160px;
    bottom: 157px;
}

.slide-info .slide-text-box .slide-title {
    font-size: 36px;
    margin: 0 0 32px;
    line-height: 46px;
}

.slide-info .slide-text-box .slide-text {
    height: 48px;
    line-height: 1.6;
    display: flex;
    align-items: center;
}

.slide-info-container .slide-progressbar {
    position: absolute;
    width: calc(100% - 320px);
    left: 160px;
    bottom: 221px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.2);;
}

#fill {
    position: absolute;
    top: 0;
    left: 0;
    height: 1px;
    background-color: #fff;
    transition: width .3s;
}

.slide-info-container .slid-paging {
    position: absolute;
    left: 160px;
    bottom: 114px;
    font-size: 12px;
    line-height: 1;
    font-family: "NanumSquare-L";
    color: rgba(255, 255, 255);
}

.slide-info-container .slid-paging {
    position: absolute;
    left: 160px;
    bottom: 114px;
    font-size: 12px;
    color: #fff;
}

.slide-info-container .slid-paging .total {
    position: relative;
    padding-left: 14px;
}

.slide-info-container .slid-paging .total:before {
    content: "";
    position: absolute;
    left: 5px;
    top: 50%;
    width: 1px;
    height: 8px;
    margin-top: -5px;
    background-color: rgb(214, 214, 213);
}

.slide-info-container button {
    position: absolute;
    bottom: 198px;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    background-image: url(../img/icons.png);
    background-size: 474px 1500px;
    background-color: transparent;
    transition: opacity .3s;
}

#btn-prev {
    left: 85px;
    background-position: -296px -107px;
}

#btn-next {
    right: 85px;
    background-position: -346px -107px;
}

.slide-info-container button:hover {
    opacity: 1;
}

@media screen (max-width: 1137px){

}

/* Content */

.main-content {
    width: 100%;
    padding: 0 150px 120px;
}

.main-content .content-summary {
    margin: 69px 0 0;
    display: flex;
    justify-content: space-between;
}

.main-content .content-summary .summary-container {
    position: relative;
    width: 26.2%;
    padding: 0 50px;
}

.main-content .content-summary li ~ li:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 100%;
    background-color: rgb(239, 239, 239);
}

.main-content .content-summary li:first-child {
    padding: 0 50px 0 0;
}

.main-content .content-summary li:last-child {
    width: 20.2%;
    padding: 0 0 0 50px;
}

.summary-container .summary-title {
    font-family: "NanumSquare-EB";
    font-size: 14px;
    line-height: 1.2;
}

.summary-container .text-box {
    height: 76px;
    margin: 31px 0 30px;
}

/* 한 줄 말줄임 표시 */
.summary-container .text-box .news-title {
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.summary-container .text-box .news-text-link:hover .news-title {
    text-decoration-line: underline;
}

/* 두 줄 말줄임 표시 */
.summary-container .text-box .news-text {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 10px 0 0;
    line-height: 1.6;
}

.summary-container .text-box .stock-price-box {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 0 7px 0;
    border-bottom: 1px solid rgb(33, 33, 33);
}

.summary-container .text-box .stock-price-box p {
    font-family: "NanumSquare-EB";
    font-size: 36px;
    letter-spacing: -1.7px;
}

.summary-container .text-box .stock-price-box .figure {
    position: relative;
}

.summary-container .text-box .stock-price-box .figure:before {
    content: "";
    position: absolute;
    top: 10px;
    left: -19px;
    width: 10px;
    height: 6px;
    background-image: url("../img/icons.png");
    background-position: -318px -26px;
}

.summary-container .text-box .date {
    font-family: "NanumSquare-L";
    font-size: 12px;
    margin: 12px 0 0;
    color: rgb(135, 136, 144);
    text-align: end;
}

.summary-container .summary-link {
    position: relative;
    padding: 0 32px 0 0;
    font-family: "NanumSquare-B";
}

.summary-container .summary-link .icon-arrow {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    width: 18px;
    height: 18px;
}

.summary-container .summary-link:hover {
    text-decoration-line: underline;
}

.summary-container .summary-link:hover .icon-arrow {
    border-radius: 50%;
    background-color: #1ec545;
}

.summary-container .summary-link:hover svg {
    fill: rgb(255, 255, 255);
}

/* Content-service */

.content-service {
    margin: 98px 0 0 0;
}

.content-service .service-list-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.content-service .service-list-container .service-box {
    display: block;
    position: relative;
    width: 33.3333%;
    padding-top: 25%;
}

.service-box .service-box-link {
    position: absolute;
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: 0.3s;
}

.service-box-link:hover {
    background-color: rgba(58, 62, 80, 0.5);
}

.service-box .service-box-link .service-info {
    position: absolute;
    width: 100%;
    padding: 50px 0 0 30px;
    bottom: -103px;
    color: rgb(255, 255, 255);
    transition: bottom .3s;
}

.service-box .service-box-link .service-info:before {
    content: "";
    position: absolute;
    top: 0;
    left: 30px;
    width: 23px;
    height: 23px;
    background-image: url("../img/icons.png");
    background-position: -199px -129px;
}

.service-box .service-box-link:hover .service-info {
    bottom: 30px;
}

.service-box .service-box-link .service-info dt {
    font-family: "NanumSquare-EB";
    font-size: 22px;
    margin: 0 0 2px 0;
}

/* Content-support */

.content-support {
    margin-top: 112px;
}

.content-support .support-info {
    text-align: center;
}

.content-support .support-info h3 {
    margin-bottom: 17px;
}

.content-support .support-info p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 134px;
}

.support-list-container {
    max-width: 1360px;
    margin: 0 auto;
    height: 215px;
    display: flex;
    justify-content: space-between;
}

.support-list-container .support-list-box {
    position: relative;
    width: 25%;
}

.support-list-container li ~ li:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 215px;
    background-color: rgb(239, 239, 239);
}

.support-list-box a {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    width: 100%;
    padding: 135px 10px 0;
}

.support-list-box a:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%); /*중앙 위치*/
    height: 100px;
    background: url("../img/icons.png") no-repeat;
    background-size: 474px 1400px;
}

.support-list-box .creators:before {
    width: 87px;
    background-position: 0 -957px;
}

.support-list-box .business:before {
    width: 101px;
    background-position: -92px -957px;
}

.support-list-box .developers:before {
    width: 110px;
    height: 95px;
    background-position: -199px -957px;
}

.support-list-box .projects:before {
    width: 93px;
    background-position: -316px -957px;
}

.support-list-box dt {
    font-family: "NanumSquare-B";
    font-size: 16px;
    color: rgb(0, 184, 67);
    margin-bottom: 10px;
}

.support-list-box a:hover dt {
    text-decoration: underline;
}

.support-list-box dd {
    line-height: 1.6;
    color: rgb(135, 136, 144);
}

.support-list-box dd span {
    display: block; /*줄바꿈*/
    word-break: keep-all;
}

/* Footer */

footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: rgb(248, 249, 250);
}

.footer-wrap {
    position: relative;
    max-width: 1600px;
    margin: 0 auto;
    height: 160px;
    padding: 74px 30px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo {
    margin-right: 12px;
}

.footer-menu {
    position: absolute;
    left: 105px;
    top: 74px;
    display: flex;
}
.footer-menu li {
    position: relative;
    display: flex;
    margin: 0 10px;
}

.footer-menu li ~ li:before {
    content: "";
    position: absolute;
    top: 3px;
    left: -10px;
    width: 1px;
    height: 12px;
    background-color: rgb(223, 224, 225);
}

.footer-menu li a {
    font-size: 14px;
    color: rgb(135, 136, 144);
}

.footer-copy {
    position: absolute;
    width: 337px;
    height: 16px;
    left: 50%;
    transform: translateX(-50%);
    background-image: url("../img/footer_copy.png");
}
.affiliate-box button {
    position: relative;
    font-family: "NanumSquare";
    font-size: 14px;
    border: none;
    padding-right: 26px;
    background-color: transparent;
}

.affiliate-box button:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 16px;
    height: 16px;
    background: url("../img/icons.png") no-repeat;
    background-size: 474px 1400px;
    background-position: -222px -26px;
}
