.wrap {
    position: relative;
    min-height: 100%;
}
/* header */
#whale-header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
    transition: .3s ease-in;
}

#whale-header.visible {
    background-color: #fff;
    box-shadow: 0 2px 16px 0 rgb(0 0 0 / 12%);
}

#whale-header.visible a {
    color: #121212;
    transition: .2s;
}

#whale-header.visible :hover {
    color: #04b89e;
}

#whale-header.visible .naver-logo {
    color: #03c75a;
}

#whale-header.visible .download.btn1,
#whale-header.visible .download.btn1:hover {
    color: #fff;
    border-color: #05c3a7;
    background-color: #05c3a7;
}

#whale-header .inner {
    height: 4.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#whale-header a {
    display: inline-block;
    color: #fff;
}

.whale-header-logo {
    line-height: 0;
}

.whale-header-logo a {
    padding-bottom: 0.2em;
}

.whale-header-logo .whale-logo {
    width: 73px;
    height: 20px;
    margin-left: -3px;
}

#whale-header nav a {
    font-weight: 600;
    padding: 0 1.85em;
    transition: .2s;
}

#whale-header nav a:hover {
    color: #04b89e;
}

.hidden-menu {
    padding: 5px;
    line-height: 0;
    color: #fff;
    background: none;
    cursor: pointer;
    border: none;
    outline: none;
    display: none;
}

.hidden-menu svg {
    width: 20px;
    height: 20px;
}

/* Sidebar */
#sidebar {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    z-index: 200;
    display: none;
    transition: 5s;
}

#sidebar .sidebar-bg{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
    transition: opacity .5s;
}

#sidebar .side-menu {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 255px;
    max-width: 100%;
    padding-left: 30px;
    background-color: #fff;
    box-sizing: border-box;
    overflow-y: auto;
    transform: translateX(100%);
    transition: transform .15s cubic-bezier(.4,0,.6,1);
}

#sidebar.opened {
    pointer-events: auto;
}

#sidebar.opened .sidebar-bg {
    opacity: 1;
}

#sidebar.opened .side-menu {
    transform: translateX(0);
    transition: transform .5s cubic-bezier(0,0,.2,1)
}

#sidebar .side-menu li h4 {
    font-size: 1.0625rem;
    font-weight: 700;
    line-height: 3.75;
}

#sidebar .side-menu > li {
    border-top: 1px solid rgba(221,226,229,.5);
}

#sidebar .side-menu a {
    color: #121212;
    transition: color .2s;
}

#sidebar .side-menu a:hover {
    color: #04b89e;
}

#sidebar .side-menu .side-item {
    padding-bottom: 20px;
}

#sidebar .side-menu .side-item a {
    line-height: 2.35;
}

@media (max-width: 850px) {
    #whale-header .inner {
        height: 4.125rem;
    }
    .whale-header-logo a {
        padding-bottom: 0.183em;
    }
    .whale-header-logo .whale-logo {
        width: 58.4px;
        height: 16px;
    }
    #whale-header nav a {
        padding: 0 0.53em;
    }
}

@media (max-width: 600px) {
    #whale-header .inner {
        height: 3.125em;
        max-width: none;
    }
    .whale-header-logo a {
        padding-bottom: 0.139em;
    }
    .whale-header-logo .whale-logo {
        width: 51.1px;
        height: 14px;
    }
    #whale-header nav,
    #whale-header .download.btn1 {
        display: none;
    }
    .hidden-menu {
        display: block;
    }

    #whale-header.visible .hidden-menu {
        color: #121212;
    }
    #sidebar {
        display: block;
    }
}

/* main */

/* browser */
.browser {
    position: relative;
}

.browser .hero-wrap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../img/whale-img/browser/visual_bg03.d4ee0ee5.png);
    overflow: hidden;
}

.browser .hero-wrap video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    object-fit: cover;
}

.browser .inner {
    height: 820px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.browser .inner .text-wrap .text-box h2{
    white-space: nowrap;
}

.browser .inner .text-wrap .text-box p{
    font-size: 1.0625rem;
    margin: 1em 0 3em;
    color: #fff;
}

.browser .inner .point-wrap img {
    width: 114%;
    margin: -3% 0 -11% -7%;
}

@media (max-width: 1060px) {
    .browser .inner {
        height: 720px;
    }
}

@media (max-width: 850px) {
    .browser .hero-wrap video {
        display: none;
    }
}

@media (max-width: 600px) {
    .browser .inner {
        height: 500px;
        justify-content: center;
    }
    .browser .inner .point-wrap {
        display: none;
    }
    .browser .inner .text-wrap .text-box p{
        font-size: 1rem;
        margin: 1.5625em 0;
    }
}

/* utility */
.utility .inner {
    height: 58em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.utility .inner .text-wrap .text-box figure {
    background-image: url(../img/whale-img/utility/dual-tab.png);
}

/* lottie라는 after effect가 적용된 애니메이션으로 이미지만 배치*/
.utility .inner .point-wrap img {
    width: 100%;
    margin: -3% 0 -11%;
}

@media (max-width: 1060px) {
    .utility .inner {
        height: 52em;
    }
}

@media (max-width: 850px) {
    .utility .inner {
        height: 46em;
    }
}

@media (max-width: 600px) {
    .utility .inner {
        height: auto;
        flex-direction: column;
        padding-top: 3.75rem;
        padding-bottom: 4rem;
    }
    .utility .inner .text-wrap {
        padding: 0 10px;
    }
    .utility .inner .point-wrap img {
        min-width: 320px;
        margin-bottom: 5px;
    }
}

/* security */
.security {
    position: relative;
    background-color: #007a6e;
    overflow: hidden;
}

.security .move-bg {
    position: absolute;
    width: 100%;
    height: 920px;
}

.security .move-bg:before,
.security .move-bg:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 200%;
    background-image: url(../img/whale-img/security/bg_security_pattern.5124952b.png);
    background-size: auto 920px;
    animation: moveUp 48s linear infinite;
}

.security .move-bg:before {
    top: 200%;
}

.security .inner {
    padding-top: 13rem;
    padding-bottom: 13rem;
    height: calc(870px - 26rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.security .inner .point-box {
    position: relative;
    padding-top: 75%;
}

/* lottie라는 after effect가 적용된 애니메이션으로 */
/* 기본 이미지 위에 탭모양 포지션 잡아줌 */
.security .inner .point-wrap .point-box img {
    position: absolute;
    top: 10%;
    left: 0;
    width: 114%;
    height: 100%;
    margin: -3% 0 -11% -7%;
}

.security .inner .point-wrap .point-box span {
    position: absolute;
    display: inline-block;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transform: scale(0);
    transition: .5s cubic-bezier(0,.64,.68,1.44);
}

.security .inner .point-wrap .point-box span:nth-child(2) {
    top: 30%;
    left: 10%;
    width: 265px;
    height: 143px;
    background-image: url(../img/whale-img/security/security_tab1.png);
}

.security .inner .point-wrap .point-box span:nth-child(3) {
    right: 10%;
    bottom: 20%;
    width: 180px;
    height: 115px;
    background-image: url(../img/whale-img/security/security_tab2.png);
}

.security .inner .point-wrap .point-box .security-tab {
    display: none;
}

.security .inner .text-wrap {
    padding-right: 0;
    padding-left: 100px;
}

.security .inner .text-wrap .text-box figure {
    background-image: url(../img/whale-img/security/ico_security.4ccb735b.png);
}

.security .inner .text-wrap .text-box h3,
.security .inner .text-wrap .text-box p,
.security .inner .text-wrap .text-box .detail-btn {
    color: #fff;
}

@media (max-width: 1480px) {
    .security .inner .point-wrap .point-box span:nth-child(2) {
        width: 17.5vw;
        height: 9.5vw;
    }
    .security .inner .point-wrap .point-box span:nth-child(3) {
        width: 11.5vw;
        height: 8vw;
    }
}

@media (max-width: 1060px) {
    .security .move-bg {
        height: 700px;
    }
    .security .inner {
        padding-top: 8rem;
        padding-bottom: 8rem;
        height: calc(700px - 16rem);
    }
}

@media (max-width: 850px) {
    .security .inner .text-wrap {
        padding-left: 50px;
    }
}

@media (max-width: 600px) {
    .security .move-bg {
        display: none;
    }
    .security .inner {
        height: auto;
        flex-direction: column-reverse;
        padding-top: 3.75rem;
        padding-bottom: 4rem;
    }
    .security .inner .text-wrap {
        padding: 0 10px;
    }
    .security .inner .point-wrap .point-box img:first-child,
    .security .inner .point-wrap .point-box span {
        display: none;
    }

    .security .inner .point-wrap .point-box {
        padding-top: 0;
        min-width: 320px;
        min-height: 250px;
    }
    .security .inner .point-wrap .point-box .security-tab {
        display: block;
        min-width: 100%;
        height: 100%;
    }
}

/* custom */
.custom {
    position: relative;
    height: 1152px;
    overflow: hidden;
}

.custom .inner {
    padding-top: 175px;
    text-align: center;
}

.custom .inner p {
    margin-top: 2.1875em;
    color: rgba(0,0,0,0.8);
}

.custom .custom-wrap {
    position: relative;
    width: 100%;
    height: 480px;
    margin: 0 auto;
}

.custom .custom-wrap .custom-bg {
    position: absolute;
}

.custom .custom-wrap .custom-bg.left {
    top: -32%;
    left: -111px;
    width: 294px;
    height: 312px;
    background-image: url(../img/whale-img/custom/img_background0.b70e8a06.png);
}

.custom .custom-wrap .custom-bg.down {
    top: 77%;
    left: 14%;
    width: 458px;
    height: 240px;
    background-image: url(../img/whale-img/custom/img_background1.467e304a.png);
}

.custom .custom-wrap .custom-bg.right {
    top: -50%;
    right: -89px;
    width: 311px;
    height: 513px;
    background-image: url(../img/whale-img/custom/img_background2.c06f9bcc.png);
}

.custom .custom-wrap .custom-clock {
    position: relative;
    width: 863px;
    height: 592px;
    margin: 62px auto 0;
    background-image: url(../img/whale-img/custom/bg_frame.png);
    background-size: contain;
    background-origin: content-box;
    overflow: hidden;
}

.custom .custom-wrap .custom-clock .clock-box {
    position: absolute;
    width: 760px;
    height: 397px;
    margin-top: 113.5px;
    margin-left: 51.5px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    overflow: hidden;
}

.custom .custom-wrap .custom-clock .clock-box span {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: contain;
}

.custom .custom-wrap .custom-clock .clock-box .digital {
    background-image: url(../img/whale-img/custom/bg_custom_digital.4486001e.png);
    
}

.custom .custom-wrap .custom-clock .clock-box .analog {
    left: 100%;
    background-image: url(../img/whale-img/custom/bg_custom_analog.caf8438a.png);
}

.custom-wallpaper {
    width: 100%;
    margin: -20px 0 117px;
    display: none;
}

@media (max-width: 1480px) {
    .custom .inner h3 {
        font-size: 3.125rem;
    }
}

@media (max-width: 1060px) {
    .custom {
        height: 1075px;
    }
    .custom .inner {
        padding-top: 85px;
    }
    .custom .inner p {
        width: 25em;
        margin: 1.3em auto 0;
    }
    .custom .custom-wrap .custom-bg.left {
        width: 235px;
        height: 249px;
    }
    .custom .custom-wrap .custom-bg.down {
        width: 366px;
        height: 192px;
    }
    .custom .custom-wrap .custom-bg.right {
        width: 249px;
        height: 410px;
    }
    .custom .custom-wrap .custom-clock {
        width: 647.25px;
        height: 444px;
    }
    .custom .custom-wrap .custom-clock .clock-box {
        width: 570px;
        height: 297.75px;
        margin-top: 85.125px;
        margin-left: 38.625px;
    }
}

@media (max-width: 850px) {
    .custom {
        height: auto;
    }
    .custom .inner h3 {
        font-size: 2.5rem;
    }
    .custom .custom-wrap {
        display: none;
    }
    .custom-wallpaper {
        display: block;
    }
}

@media (max-width: 600px) {
    .custom .inner h3 {
        font-size: 1.75rem;
        line-height: 1.46;
    }
    .custom .inner p {
        width: 18em;
        margin: 1.3em auto 0;
    }
}

/* whale-download */
.whale-download {
    background-color: #f4f5f7;
}

.whale-download .inner {
    padding-top: 6rem;
    padding-bottom: 6rem;
    text-align: center;
}

.whale-download .inner h4 {
    margin-bottom: 50px;
}

.whale-download .inner h4:before {
    content: "";
    display: block;
    width: 157px;
    height: 115px;
    background-image: url(../img/whale-img/ico_whale_logo.61f46a74.png);
    background-size: contain;
    margin: 0 auto 40px;
}

@media (max-width: 850px) {
    .whale-download .inner {
        padding-top: 2.8125rem;
        padding-bottom: 2.8125rem;
    }
    .whale-download .inner h4 {
        margin-bottom: 30px;
    }
    .whale-download .inner h4:before {
        width: 105px;
        height: 78px;
    }
}

/* footer */
footer {
    border-top: 1px solid rgba(0,0,0,0.1);
}

footer .inner {
    padding-top: 2.1875em;
    padding-bottom: 1.5675em;
}

footer .inner .content-info-wrap {
    display: flex;
    padding-bottom: 30px;
    margin-bottom: 24px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

footer .inner .content-info-wrap div {
    flex: 1;
}

footer .inner .content-info-wrap div strong {
    font-size: 0.875rem;
}

footer .inner .content-info-wrap div ul {
    margin-top: 13px;
    font-size: 0.8125rem;
    line-height: 2;
}

footer .inner .content-info-wrap div:first-child li {
    color: #b2b2b2;
}

footer .inner .content-info-wrap div ul li a {
    color: #777;
    transition: .2s;
}

footer .inner .content-info-wrap div ul li a:hover {
    color: #111;
}

footer .inner .company-info-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .inner .company-info-wrap .policy a {
    display: inline-block;
    font-size: 0.75rem;
    color: #a0a0a0;
    margin-left: 1.6em;
}

footer .inner .company-info-wrap .policy a:first-child {
    margin-left: 0;
}

footer .inner .company-info-wrap .policy a strong {
    color: #000;
}

footer .inner .company-info-wrap .sns a {
    color: #454545;
    margin-left: 12px;
    transition: .2s;
}

footer .inner .company-info-wrap .sns a:hover {
    color: #000;
}

footer .inner .company-info-wrap .sns a:first-child {
    margin-left: 0;
}

footer .inner .company-info-wrap .sns .twitter svg {
    width: 21px;
    height: 15px;
}

footer .inner .company-info-wrap .sns .naver svg {
    width: 22px;
    height: 17px;
}

footer .inner .company-info-wrap .sns .facebook svg {
    width: 17px;
    height: 16px;
}

footer .inner .company-info-wrap .sns .instagram svg {
    width: 18px;
    height: 17px;
}

@media (max-width: 850px) {
    footer .inner .company-info-wrap {
        flex-direction: column;
    }
    footer .inner .company-info-wrap .policy a {
        margin-bottom: 20px;
    }
}

@media (max-width: 633px) {
    footer .inner .company-info-wrap .policy a:nth-child(3) {
        order: 1;/*default is 0*/
    }
}

@media (max-width: 600px) {
    footer .inner .content-info-wrap {
        display: none;
    }
    footer .inner .company-info-wrap .policy {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}



